html { 
	font-family: "Helvetica Neue",Helvetica, sans-serif;
	/*è°·æ­Œæµè§ˆå™¨å­—ä½“æœ€å°å­—ä½“12px*/
	-webkit-text-size-adjust: 100%;/*100%/none å…³é—­å­—ä½“å¤§å°è‡ªåŠ¨è°ƒæ•´åŠŸèƒ½*/
	/*aæ ‡ç­¾åŠæ‹¥æœ‰ :activeä¼ªç±»çš„å…ƒç´ æœ‰é»˜è®¤çš„é«˜äº®æ¡†*/
	-webkit-tap-hightlight-color: transparent;
	/*ç¦æ­¢æ–‡æœ¬è¢«é€‰ä¸­*/
	-webkit-user-select: none;
}
body{
	overflow-x:hidden;
	/*å¼€å¯moblieç½‘é¡µå¿«é€Ÿæ»šåŠ¨å’Œå›žå¼¹çš„æ•ˆæžœ*/
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	color: #333;
	text-decoration: none;
}
.rightLine,.topLine{
	position:relative;
}
.rightLine:after,.topLine:after{
	content:"";
	position:absolute;
	right:0;
	top:0;
}
.rightLine:after{
	height:100%;
	width:1px;
	-webkit-transform:scaleX(0.5);
	transform:scaleX(0.5);
	border-right:1px solid #ccc;
}
.topLine:after{
	height:1px;
	width:100%;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
	border-top:1px solid #ccc;
}
img{
	border: 0;
	display: inline-block;
	width:100%;
	height:100%;
	vertical-align: middle;
}
input{
	-webkit-appearance: none;
	outline: none;
	border: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
li,ol{
	list-style:none;
}

.vertical-view{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.horizontal-view{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row ;
	flex-direction:row;
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chromeã€firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}